{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'ETF/css/company_styles.css' %}" />
  </head>
  <body>
    <div id="recruit-section">
      <div class="card">
        <h1>title</h1>
        <p>career education due_date</p>
        <p>job_name</p>
        <p>skill_name</p>
      </div>
      <a
        class="card"
        href="http://naver.com"
        target="_blank"
        style="text-decoration: none"
      >
        <h1>title</h1>
        <p>career education due_date</p>
        <p>job_name</p>
        <p>skill_name</p>
      </a>
    </div>
  </body>
</html>
